# Database Configuration
DATABASE_URL=sqlite:///./smart_hire.db
# DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/auth_db

# Security & JWT Configuration
SECRET_KEY=mysecretkey123
ALGORITHM=HS256

# Email Notification Configuration (Optional)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
EMAIL_FROM=noreply@smarthire.ai
